@page
@model RazorPagesMedicalCenter.Pages.MedProcedures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedProcedure[0].MedProcedureType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedProcedure[0].MedProcedureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedProcedure[0].Physician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedProcedure) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedProcedureType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedProcedureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physician.PhysicianID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedProcedureID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MedProcedureID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedProcedureID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
