@page
@model RazorPagesMedicalCenter.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Referral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].MedProcedureID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientLName) @*changed to patient last name*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referral.Origin) @*changed to referral origin*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedProcedureID) @*Change to med procedure name? Use details to show the whole list*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppointmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
