@page
@model RazorPagesMedicalCenter.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientIsClinical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientPhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientDateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientIsClinical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientPhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDateOfBirth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PatientID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PatientID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PatientID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
